[submodule "differential-drive"]
	path = src/differential-drive
	url = https://github.com/AMD-R/differential-drive.git
[submodule "ds4_driver"]
	path = src/ds4_driver
	url = https://github.com/AMD-R/ds4_driver.git
[submodule "laser_filters"]
	path = src/laser_filters
	url = https://github.com/AMD-R/laser_filters.git
[submodule "rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/AMD-R/rplidar_ros.git
[submodule "hmi"]
	path = src/hmi
	url = https://github.com/AMD-R/hmi.git
